.paper-background {
    width: 700px;
    height: 700px;
    position: relative;
    margin: 20px auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px #888;
}


.paper-background:before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 40px;
    background-color: rgba(255,0,0,0.6);
}

.errors {
    color: red;
}


.pattern {
    height: 100%;
    background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
}

.logo{
    font-size: 60px;
    font-family:'Permanent Marker';
    margin-left: 10%;
    margin-bottom: 4.5%;
    margin-top: 4%;
    height: 20px;
    width: 70px;
}

input{
    opacity: 100%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
