.paper-background-idea {
    width: 500px;
    height: 500px;
    position: relative;
    margin: 20px auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px #888;
}


.paper-background-idea:before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 40px;
    background-color: rgba(255,0,0,0.6);
}

.errors {
    color: red;
}


.pattern-idea {
    height: 100%;
    background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
}

.idea-title{
    margin-left: 9%;
    /* margin-top: -2%; */
}

.idea-form {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    position: absolute;
    padding: 20px;
    z-index: 2;
    font-family:'Permanent Marker';
    margin-left: 10%;
    margin-top: 5%;
    opacity: 100%;
}

.edit-button {
    color: blue;
}
