.paper-background {
    width: 700px;
    height: fit-content;
    min-height: 700px;
    position: relative;
    margin: 20px auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px #888;
}


.paper-background:before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 40px;
    background-color: rgba(255,0,0,0.6);
}


.pattern {
    height: fit-content;
    min-height: 700px;
    background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
}

.list-title {
    margin-left: 8%;
    padding-top: 10px;
}

.ideaCard {
    display: flex;
    flex-direction: column;
    padding: 9px;
    margin-top: 2%;
    margin-left: 5%;
    width: 350px;
}

.edit-delete {
    margin-left: 10%;
    margin-top: -3.3%;
}

.link-button {
    color: darkblue
}

.random-idea-modal {
    margin-top: -.1%;
    width: 654px;
    height: 100%;
    padding: 20px;
    font-size: 80px;
    color: gold;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
    /* animation: wiggle 2s linear infinite; */
    /* position: absolute; */
    /* top: 30%;
    left: 35%; */
    /* border-radius: 8px; */
}

.random-idea {
    animation: wiggle 2s linear infinite;
  }

.random-idea-title {
    color: blueviolet;
    margin-left: 8%;
    margin-top: 5%;
    font-size: 25px;
}
  /* Keyframes */
  @keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
