/* .leftSide {
    width: 100%;
    height: 50px;
    align-items:flex-end;
    justify-content:left;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;

  } */

  .rightSide {
    font-family: "Permanent Marker";
    width: 100%;
    height: 50px;
    align-items:flex-end;
    justify-content:right;
    display: flex;
    padding-bottom: 5px;
  }

  /* .bar {
    display: block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 20px;
    padding: 10px;
  } */


  .button {
      background-color: white;
      font-family: 'Permanent Marker';
      border-radius: 10px;
      text-decoration: none;
      color: black;
      padding: 5px;
      margin-right: 5px;
      margin-left: 5px;

  }

  .links{
      padding: 5px;
  }

  .drop-down-menu {
    position: absolute;
    left:19%;
    top: calc(10% + .25rem);
    background-color:  white;
    border-radius: 8px;
    box-shadow: 0 0 0 2px #f0f0f0;
    opacity: 1;
    margin-left: 65%;
    z-index: 1;
  }

  .login-button {
    font: black;
    color:black;

  }

  .profile-button {
    color: blue;
    margin-right: 3%;
    font-size: 20px;
  }
